#game {
    background-color: black;
}
#jumpButton {
            
            width: 250px;
            height: 251px;
            font-size: 20px;
/*             padding: 10px 20px; */
            cursor: pointer;
/*             border-radius: 50%; */
            border: none;
            color: #ffffff;
            position: relative;
            
        }
